.header {
    background-color: rgba(230, 235, 238, 0.87);
    height: 150px;
    /* width: 100%; */
}
.d-flex {
    display: flex;
    gap: 10px;
    width: 100%;

}

.padding {
    padding: 20px;
}

.mr-1 {
    margin-right: 1rem;
}

.ml-1 {
    margin-left: 20px;
}

.mt-1 {
    margin-top: 1rem;
}

.pa-1 {
    padding: 15px;
}

.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.center {
    justify-items: center;
    align-items: center;
    /* justify-content: center; */
}
.space-between {
    justify-content: space-between;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #29a868;
}

input:focus + .slider {
  box-shadow: 0 0 1px #21f367;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.range {

  width: 100%;
  height: 20px;

  
  background: #fcfcfc;
  border-radius: 20px;
  display: flex;
  align-items: center;
  }
  .range p {

  color: #000000;
  }
  .range input[type="range"] {
  -webkit-appearance:none !important;
  width: 420px;
  height: 2px;
  background: #29a868;
  border: none;
  outline: none;
  }
  .range input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 15px;
  height:15px;
  background: #29a868;
  border: 1px solid #29a868;
  border-radius: 50%;
  cursor: pointer;
  }
  .range input[type="range"]::-webkit-slider-thumb:hover {
  background: #1bd679;
  border: 1px solid #1bd679;
  }